html, body {
  margin: 0;
  padding: 0;
}

.feature-detail {
  padding: 20px !important;
}

.fc-margin--bottom--medium {
  margin-bottom: 10px;
}

.fc-padding--horizontal--medium {
  padding-right: 10px;
  padding-left: 10px;
}

.fc-padding--horizontal--medium {
  padding-right: 20px;
  padding-left: 20px;
}

.directory-tree ul    { padding-left: 0px; }
.directory-tree ul ul { padding-left: 20px; }
.directory-tree ul li { list-style: none; }

.directory-tree .glyphicon { padding-right: 10px; }

.directory-tree .feature-file.selected { background-color: #e78c45; }

.directory-tree .feature-file.selected a:link    { color: #fff; }
.directory-tree .feature-file.selected a:visited { color: #fff; }
.directory-tree .feature-file.selected a:hover   { color: #fff; }
.directory-tree .feature-file.selected a:active  { color: #fff; }

.directory-tree a.feature-directory:link    { color: #000; }
.directory-tree a.feature-directory:visited { color: #000; }
.directory-tree a.feature-directory:hover   { color: #000; }
.directory-tree a.feature-directory:active  { color: #000; }
