!!!
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ "http-equiv" => "Cache-Control", content: "no-cache" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1" }

    %title
      Feature Creature

    %script{ src: "js/elm.js", type: "text/javascript" }
    %link{ rel: "stylesheet", href: "css/app/style.css" }

    <!-- Highlight JS -->
    %link{ rel: "stylesheet", href: "css/vendor/highlightjs/tomorrow-night-bright.css" }
    %script{ src: "js/vendor/highlightjs/highlight.pack.js" }

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    %link{ rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", integrity: "sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==", crossorigin: "anonymous" }
    <!-- Optional theme -->
    %link{ rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css", integrity: "sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX", crossorigin: "anonymous" }
    <!-- Latest compiled and minified JavaScript -->
    %script{ src: "https://code.jquery.com/jquery-2.1.4.min.js", crossorigin: "anonymous" }
    %script{ src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js", integrity: "sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==", crossorigin: "anonymous" }

    <!-- favicon -->
    %link{ rel: "icon", type: "image/png", sizes: "32x32", href: "/images/favicon-32x32.png" }
    %link{ rel: "icon", type: "image/png", sizes: "96x96", href: "/images/favicon-96x96.png" }
    %link{ rel: "icon", type: "image/png", sizes: "16x16", href: "/images/favicon-16x16.png" }

  %body
    %main
      %div#app

    :javascript
      function applyHighlight(val) {
        $('pre code').each(function(i, block) {
          hljs.highlightBlock(block);
        });
      }

      function highlightSyntax(val) {
        // sleep to allow DOM changes to render
        setTimeout(applyHighlight, 10);
      }

      var app = Elm.fullscreen(Elm.Main, { initAppConfig: { apiPath: "" } });
      app.ports.highlightSyntaxPort.subscribe(highlightSyntax);

      app.ports.initAppConfig.send(
        { apiPath: "#{ENV['FC_API_PATH']}" }
      );

      $(document).ready(function() {
        // disable bootstrap transition animations
        $.support.transition = false;
      });

